/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.pane{
    -fx-border-color: black;
    -fx-border-radius:10;
    -fx-border-width: 2          
}
.open_btn {
    -fx-graphic: url(../icons/open-icon.png);
}

.add_btn {
    -fx-graphic: url(../icons/add-icon.png);
}

.edit_btn {
    -fx-graphic: url(../icons/edit-icon.png);
}

.delete_btn {
    -fx-graphic: url(../icons/delete-icon.png);
}